node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.expo
.expo-shared
android
ios
dist
build
*.keystore
*.jks
.env
.env.*
!.env.example
mobile/node_modules
mobile/.expo
mobile/.expo-shared
